@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">AgendaMed</h1>
    <p>Sistema de gestão de consultas.</p>
    <p>Tenha o total controle de suas consultas, prontuários e medicamentos!</p>
</div>
